  <style> 
    body {
    
      font-family: monospace;
      background-color:whitesmoke;


    }
   .items {
      display: flex;
      flex-direction: column;
      gap: 0px;
      /*background-color:;*/
      align-items:center;
      /*need to figure out height*/
      height:fit-content;
      
      
      } 

    #intro {
      /*display:flex;*/
      /*flex-direction: column;*/
      /*align-items: center;*/
      /*background-color: ;*/
    }
    /*photo*/
    #profile{
      height: 175px;
      width: 175px;
      object-fit: cover;
      object-position: 65% 35%;
      border-radius: 175px;
      
    }

    /*all thumbs*/
    .thumbnail {
      width: 48px;
      height: 48px;
      display:flex;
      flex-direction: column;
    }
    
    .name{
      color:black;
      font-size:25px;

    }
    .individuallinks a{
      color:rgb(76, 93, 116);
      /*text-align: center;
      flex-grow: 1;
      justify-content: center;*/
    }
   

    .individuallinks{
      column-gap:10px;
      display: flex;
      align-items: center;
      justify-content: left;
      padding:10px;
      
      

    }
    #links {
     margin-left: auto; 
     margin-right: auto;
     
      
    }

   /**{
    border: thin red solid;*/
    
   

  </style>


<body>
  <div class="items"> 
    <div id="intro">
      <div class="profile picture">
        <img id="profile" src="https://i.imgur.com/1Qm19vS.jpeg">
      </div>
      <h2 class="name"> Will Grieger</h2>
   </div>
  
    <div id="links">

    <!--Dividify-->
      <div class="individuallinks"> 
      <img class="thumbnail" src="/dividify-cube-120px.png">
          <a target="_blank" href="https://www.dividify.com"> Dividify </a>
      </div>
      
    <!--Linkedin-->
      <div class="individuallinks">
        <img class="thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Linkedin-logo-blue-In-square-40px.png">
          <a target="_blank" href="https://www.linkedin.com/in/willgrieger">LinkedIn</a>
      </div>


     <!--Github-->
       <div class="individuallinks">   
        <img class="thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/640px-GitHub_Invertocat_Logo.svg.png">
          <a target="_blank" href="https://github.com/wgrieger"> GitHub</a>
      </div>
      
      <!--photography-->
      <div class="individuallinks">
       <!-- update --> <img class="thumbnail" src="https://img.icons8.com/?size=50&id=7211&format=png">
          <a target="_blank" href="/photos">Photography </a>
      </div>

      <!--Woodworking-->
      <div class="individuallinks">
       <!-- update--> <img class="thumbnail" src="https://img.icons8.com/?size=50&id=9106&format=png">
          <a target="_blank" href="/wood">Woodwork </a>
      </div>


    </div>
  </div>


</body>
