<style>
body{background-color: whitesmoke;
     box-sizing: border-box;
font-family: monospace;
display: flex; 
flex-direction:column;
align-items: center;
}

#flickrlink {
  background-color:;
  display:flex;
  align-content:center;
  padding: 25px;
}
/*all photos*/
.photos {
  background-color:  ;
  max-width:100%;
  
}
.photos img{
  max-width:100%;
}

.verticals_one{
display:flex wrap;
background-color:;
/*max-width: 1600px;*/
gap:15px;
padding:0px 10px 0px 10px;


}

.verticals_two{
display:flex wrap;
background-color:;
/*max-width: 1600px;*/
gap:15px;

padding:10px 47px 0px 47px;


}

.verticals_three{
display:flex wrap;
background-color:;
/*max-width: 1600px;*/
gap:15px;

padding:0px 47px 10px 47px;

}

.horizontals {
gap:15px;

background-color: ;
display:flex;
flex-direction:column;
align-items:center;
padding:10px 10px 10px 10px;

}
/*end custom*/






</style>

<h1 style='font-size:40px'> Photography </h1>


<div class=photos>
  <div class="verticals_three">
  <!--tree-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/52197670950/in/datetaken-public/" title="I feel alone"><img src="https://live.staticflickr.com/65535/52197670950_7e77a2cc08_c.jpg"  alt="alone"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  <!-- Johnson-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/52197675725/in/datetaken-public/" title="DSC01760 (2)"><img src="https://live.staticflickr.com/65535/52197675725_9b6459bf57_c.jpg" alt="DSC01760 (2)"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  </div>
<div class="verticals_one">
  <!--coco-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/38895028951/" title="Portrait"><img src="https://live.staticflickr.com/4515/38895028951_e06064155e_c.jpg"  alt="Portrait"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  <!--david-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/51835844292/in/album-72157675826010581/" title="David One E"><img src="https://live.staticflickr.com/65535/51835844292_78c93c2ea2_c.jpg" alt="David One E"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  </div>

  <div class="verticals_two">
  <!-- claire-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/51009267893/in/album-72157675826010581/" title="CL"><img src="https://live.staticflickr.com/65535/51009267893_207175f072_c.jpg" alt="CL"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  <!--devils-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/50317478116/" title="Devils Kettle"><img src="https://live.staticflickr.com/65535/50317478116_9603be9c3c_c.jpg" alt="Devils Kettle"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

</div>
<div class="horizontals">
  <!--rail-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/53139503166/in/datetaken-public/" title="The Rail Yard"><img src="https://live.staticflickr.com/65535/53139503166_c3e0fbd6a0_c.jpg" alt="The Rail Yard"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  <!-- stars-->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/50964161853/" title="Astro"><img src="https://live.staticflickr.com/65535/50964161853_5d6e7a0df2_c.jpg"  alt="Astro"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<!--BW water-->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/52317446072/in/album-72157673495124603/" title="DSC02009"><img src="https://live.staticflickr.com/65535/52317446072_1bd58f2b07_c.jpg"  alt="DSC02009"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<!--split rock -->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/52317446437/in/album-72157673495273873/" title="DSC01947"><img src="https://live.staticflickr.com/65535/52317446437_cf5d599f1c_c.jpg" alt="DSC01947"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

    <!--pink beach-->
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/51477452203/in/datetaken-public/" title="DSC00844 CLR"><img src="https://live.staticflickr.com/65535/51477452203_9ecd29a3a7_c.jpg"  alt="DSC00844 CLR"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <!--colorful boats-->

    <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/31386711656/in/album-72157673495273873/" title="DSC08548"><img src="https://live.staticflickr.com/5327/31386711656_fdeede3a32_c.jpg" alt="DSC08548"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  </div>
</div>


<!-- Flickr -->
<div id=flickrlink>
<form action="https://www.flickr.com/photos/willyg_/">
<button>
<div></div>
<p>More photos on
<img width=60px class="thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Flickr_logo.png/800px-Flickr_logo.png?20140131182512"></p>
</button>
</form>
</div>
