<style>
body{background-color: whitesmoke;
 
      padding-bottom: 40px;
      margin: 50px;
      font-family: monospace;
display: flex;
flex-direction: column;
align-items: center;
}

#flickrlink {
  display:flex;
  flex-direction:column;
  background-color: cyan;
  align-items: center;
  padding: 25px;
}

.photos {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

</style>

<h1> Photography </h1>

<div class=photos>
<!--rail-->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/53139503166/in/datetaken-public/" title="The Rail Yard"><img src="https://live.staticflickr.com/65535/53139503166_c3e0fbd6a0_c.jpg" width="800" height="533" alt="The Rail Yard"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<!--tree-->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/52197670950/in/datetaken-public/" title="I feel alone"><img src="https://live.staticflickr.com/65535/52197670950_7e77a2cc08_c.jpg" width="533" height="800" alt="I feel alone"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<!--pink beach-->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/51477452203/in/datetaken-public/" title="DSC00844 CLR"><img src="https://live.staticflickr.com/65535/51477452203_9ecd29a3a7_c.jpg" width="800" height="600" alt="DSC00844 CLR"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<!--devils-->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/50317478116/" title="Devils Kettle"><img src="https://live.staticflickr.com/65535/50317478116_9603be9c3c_c.jpg" width="533" height="800" alt="Devils Kettle"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<!--coco-->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/38895028951/" title="Portrait"><img src="https://live.staticflickr.com/4515/38895028951_e06064155e_c.jpg" width="571" height="800" alt="Portrait"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<!-- claire-->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/51009267893/in/album-72157675826010581/" title="CL"><img src="https://live.staticflickr.com/65535/51009267893_207175f072_c.jpg" width="533" height="800" alt="CL"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<!--david-->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/51835844292/in/album-72157675826010581/" title="David One E"><img src="https://live.staticflickr.com/65535/51835844292_78c93c2ea2_c.jpg" width="571" height="800" alt="David One E"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<!--BW water-->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/52317446072/in/album-72157673495124603/" title="DSC02009"><img src="https://live.staticflickr.com/65535/52317446072_1bd58f2b07_c.jpg" width="800" height="450" alt="DSC02009"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<!--colorful boats-->

<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/31386711656/in/album-72157673495273873/" title="DSC08548"><img src="https://live.staticflickr.com/5327/31386711656_fdeede3a32_c.jpg" width="800" height="530" alt="DSC08548"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<!--split rock -->
<a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/52317446437/in/album-72157673495273873/" title="DSC01947"><img src="https://live.staticflickr.com/65535/52317446437_cf5d599f1c_c.jpg" width="800" height="600" alt="DSC01947"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
</div>


<!-- Flickr -->
<form action=">
<div id=flickrlink>
<div></div>
<a href="https://www.flickr.com/photos/willyg_/"> More photos on </a>
<img width=60px class="thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Flickr_logo.png/800px-Flickr_logo.png?20140131182512">
</div>
</button>
