<style>
body{background-color: whitesmoke;
     box-sizing: border-box;
font-family: monospace;
display: flex; 
background-color:;
flex-direction:column;
align-items: center;
}

#flickrlink {
  background-color:;
  display:flex;
  align-content:center;
  padding: 25px;
}
/*all photos*/
.photos {
  background-color:  ;
  max-width:100%;
  
}
.photos img{
  max-width:100%;
}

.verticals_one{
display:flex;
flex-direction:column;
background-color:;
align-items:center;
/*max-width: 1600px;*/
gap:15px;
padding:0px 10px 0px 10px;


}





.horizontals {
gap:15px;

background-color:  ;
display:flex;
flex-direction:column;
align-items:center;
padding:0px 10px 15px 10px;

}
/*end custom*/






</style>

<h1 style='font-size:40px'> Woodwork </h1>


<div class=photos>
<div class="horizontals">
  <!--desk larger-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/53692377489/in/album-72177720316624842/" title="Desk"><img src="https://live.staticflickr.com/65535/53692377489_9b0172b772_c.jpg" alt="Desk"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  <!--desk closeup-->
 <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/53692026006/in/album-72177720316624842/" title="Ipe Finish"><img src="https://live.staticflickr.com/65535/53692026006_8e039e0acd_c.jpg"  alt="Ipe Finish"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  
  </div>
  <div class="verticals_one">
  <!-- block-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/53692375221/in/album-72177720316624842/" title="block1"><img src="https://live.staticflickr.com/65535/53692375221_b9303df8e5_c.jpg" width="534" height="800" alt="block1"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  </div>





</div>
