<style>
body{background-color: whitesmoke;
     box-sizing: border-box;
font-family: monospace;
display: flex; 
flex-direction:column;
align-items: center;
}

#flickrlink {
  background-color:;
  display:flex;
  align-content:center;
  padding: 25px;
}
/*all photos*/
.photos {
  background-color:  ;
  max-width:100%;
  
}
.photos img{
  max-width:100%;
}

.verticals_one{
display:flex wrap;
background-color:;
/*max-width: 1600px;*/
gap:15px;
padding:0px 10px 0px 10px;


}





.horizontals {
gap:15px;

background-color: ;
display:flex;
flex-direction:column;
align-items:center;
padding:10px 10px 10px 10px;

}
/*end custom*/






</style>

<h1 style='font-size:40px'> Furniture </h1>


<div class=photos>
  <div class="verticals_one">
  <!--tree-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/52197670950/in/datetaken-public/" title="I feel alone"><img src="https://live.staticflickr.com/65535/52197670950_7e77a2cc08_c.jpg"  alt="alone"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  <!-- Johnson-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/52197675725/in/datetaken-public/" title="DSC01760 (2)"><img src="https://live.staticflickr.com/65535/52197675725_9b6459bf57_c.jpg" alt="DSC01760 (2)"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  </div>



<div class="horizontals">
  <!--rail-->
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/willyg_/53139503166/in/datetaken-public/" title="The Rail Yard"><img src="https://live.staticflickr.com/65535/53139503166_c3e0fbd6a0_c.jpg" alt="The Rail Yard"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>


  </div>
</div>
